<!DOCTYPE html>
<html>
<head>
  <title>Codeforces Performance Tracker</title>

  <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="container">

  <h1>Codeforces Performance Tracker</h1>

  <p class="subtitle">
    View estimated performance of all contests
  </p>

  <div class="search-card">

    <form action="/profile" method="POST">

      <input
        type="text"
        name="handle"
        placeholder="Enter Codeforces Handle"
        required
      >

      <button type="submit">
        Search
      </button>

    </form>

  </div>

</div>

</body>
</html>